.Projects-title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

.Projects-title:after {
  content: '';
  display: block;
  width: 60%;
  height: 2px;
  background-color: #E65F78;
  position: absolute;
  bottom: -8px;
  left: 19%;
}

.Project-item {
  background-color: #1F1F1F !important;
  border-radius: 10px;
  padding: 0.5rem; 
  margin-bottom: 20px;
  flex-basis: calc(33% - 20px); 
  width: calc(50% - 20px); 
  margin: 10px; 
}


.Project-title {
  font-size: 24px;
  font-weight: bold;
  color: #E65F78;
  margin-bottom: 10px;
  position: relative;
  margin-left: 1rem;
}

.Projects-container {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  margin-top:2rem;
  justify-content: center;
}

.Projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Project-image {
 width: 90%;
}

.Technologies-title {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 1rem;
}

.Project-description {
  margin-top: 10px;
  font-size: 14px;
  color: white;
  margin-left: 1rem;
}

.Technology-item {
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  margin-left: 1rem;
}
@media screen and (max-width: 769px) {
  .Project-item {
    flex-basis: calc(100% - 20px); 
    width: calc(100% - 20px); 
    margin: 10px; 
    max-width: calc(100% - 20px);
    box-sizing: border-box; 
    text-align: center;
  }

  .Projects-container {
    margin-top: 1rem; 
  }

  .Project-title,
  .Project-description,
  .Technologies-title,
  .Technology-item {
    margin-left: auto; 
    margin-right: auto;
  }

  .Project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;    
  }
}


