.Projects-container {
  padding: 2rem;
  background-color: #333;
}

.Projects-title {
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.Projects-title:after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background-color: #E65F78;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.Project-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Project-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.Technologies-title {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #666;
}

.Project-description {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.view-project-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #E65F78;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.view-project-btn:hover {
  background-color: #C74F67;
}

.Technology-item {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 12px;
}

.Technology-item.html {
  background-color: #F16529;
}

.Technology-item.css {
  background-color: #1572B6;
}

.Technology-item.javascript {
  background-color: #F0DB4F;
}

.Technology-item.react {
  background-color: #61DAFB;
}

.Technology-item.nodejs {
  background-color: #68A063;
}

.Technology-item.expressjs {
  background-color: #000000;
}

.Technology-item.mongodb {
  background-color: #4DB33D;
}

.Technology-item.mongoose {
  background-color: #592B13;
}

.Technology-item.socketio {
  background-color: #010101;
}

.Technology-item.jwt {
  background-color: #205C3B;
}

.Technology-item.multer {
  background-color: #FFB64D;
}

.Technology-item.gridfs-storage {
  background-color: #00AEEF;
}

.Technology-item.react-router {
  background-color: #CA4245;
}

.Technology-item.redux-toolkit {
  background-color: #764ABC;
}

.Technology-item.websocket {
  background-color: #2176FF;
}

.Technology-item.chakra-ui {
  background-color: #319795;
}

.Technology-item.formik {
  background-color: #F49D37;
}

.Technology-item.yup {
  background-color: #0056B3;
}

.Technology-item.postgresql {
  background-color: #336791;
}

.Technology-item.express {
  background-color: #000000;
}

.Technology-item.jquery {
  background-color: #0868AC;
}

.Technology-item.csharp {
  background-color: #239120;
}

.Technology-item.neural-network {
  background-color: #FF6F61;
}

.Technology-item.machine-learning {
  background-color: #FFA500;
}

.Technology-item.redux-persist {
  background-color: #764ABC;
}

.Swipe-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  margin: auto;
  animation: arrowUpDown 1s infinite alternate;
}

@keyframes arrowUpDown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.Swipe-up {
  opacity: 0;
}

.Project-item:hover .Swipe-up {
  opacity: 1;
}

.Github-link {
  text-decoration: none;
  color: inherit;
}

.carousel-caption {
  color: #333;
  text-align: center;
}

.carousel-caption h3 {
  color: black;
  font-size: 24px;
  margin-bottom: 10px;
}

.carousel-caption p {
  color: black;
}

@media (max-width: 992px) {
  .Projects-title {
    font-size: 28px;
  }
  
  .Project-item {
    padding: 0.8rem;
  }
  
  .Project-title {
    font-size: 20px;
  }
  
  .Technologies-title {
    font-size: 16px;
  }
  
  .Project-description {
    font-size: 12px;
  }
  
  .view-project-btn {
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  .Projects-title {
    font-size: 24px;
  }
  
  .Project-item {
    padding: 0.6rem;
  }
  
  .Project-title {
    font-size: 18px;
  }
  
  .Technologies-title {
    font-size: 14px;
  }
  
  .Project-description {
    font-size: 10px;
  }
  
  .view-project-btn {
    padding: 6px 12px;
  }
}

@media screen and (min-width: 769px) {
  .Projects-title {
    font-size: 28px;
  }
  
  .Project-item {
    padding: 0.8rem;
  }
  
  .Project-title {
    font-size: 20px;
  }
  
  .Technologies-title {
    font-size: 16px;
  }
  
  .Project-description {
    font-size: 12px;
  }
  
  .view-project-btn {
    padding: 8px 16px;
  }
}

