.Projects-container {
  padding: 2rem;
  background-color: #333;
}

.Projects-title {
  font-size: 36px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.Projects-title:after {
  content: '';
  display: block;
  width: 80px;
  height: 3px;
  background-color: #E65F78;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.Project-item {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Project-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.carousel-inner {
  width: 60%;
  margin: 0 auto;
}

.Technologies-title {
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  color: #666;
}

.Project-description {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.view-project-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #E65F78;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.view-project-btn:hover {
  background-color: #C74F67;
}

.Technology-item {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 12px;
}

@media screen and (max-width: 992px) {
  .Projects-title {
    font-size: 28px;
  }
  .carousel-inner {
    width: 80%;
  }
  .Project-item {
    padding: 0.8rem;
  }
  .Project-title {
    font-size: 20px;
  }
  .Technologies-title {
    font-size: 16px;
  }
  .Project-description {
    font-size: 12px;
  }
  .view-project-btn {
    padding: 8px 16px;
  }
}

@media screen and (max-width: 769px) {
  .Projects-title {
    font-size: 24px;
  }
  .carousel-inner {
    width: 90%;
  }
  .Project-item {
    padding: 0.6rem;
  }
  .Project-title {
    font-size: 18px;
  }
  .Technologies-title {
    font-size: 14px;
  }
  .Project-description {
    font-size: 10px;
  }
  .view-project-btn {
    padding: 6px 12px;
  }
}

@media screen and (max-width: 576px) {
  .Projects-title {
    font-size: 20px;
  }
  .carousel-inner {
    width: 100%;
  }
  .Project-item {
    padding: 0.4rem;
  }
  .Project-title {
    font-size: 16px;
  }
  .Technologies-title {
    font-size: 12px;
  }
  .Project-description {
    font-size: 9px;
  }
  .view-project-btn {
    padding: 5px 10px;
  }
}
