.hero-container {
    background-color: #1F1F1F;
    padding: 100px 0;
    text-align: center;
  }
  
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-icon {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    margin-right: 20px;
    animation: blinkDown 2s ease-in-out infinite alternate;
  }
  
  @keyframes blinkDown {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(20px);
      opacity: 0.5;
    }
  }
  
  .hero-text {
    text-align: left;
    color: white;
  }
  
  .hero-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .highlight-text {
    color: white;
  }
  
  .highlight-text-blink {
    color: #E65F78;
  }
  
  .hero-description {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 30px;
  }

  .hero-icon2 {
    background-color: white;
    width: 100px; 
    height: 100px; 
    margin-right: 10px;
    border-radius: 50%; 
  }

  .highlight-text-blink::after {
  content: '|';
  margin-left: 5px;
  animation: blink 1.5s infinite; /* Increase duration to 1.5s */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}