.about-container {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #333333;
    max-width: 100rem;

  }
  
  .about-header {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
  }
  
  .about-header::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: salmon;
    position: absolute;
    bottom: -8px;
    left: 25%;
  }
  
  .about-description {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    margin-bottom: 20px;
  }
  
  .about-details {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
  }
  
  .column p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
  }
  
  .column strong {
    font-weight: bold;
    color: salmon;
    margin-right: 5px;
  }

.additional-info {
    margin-top: 20px;
  }
  
  .info-box {
    background-color: #1F1F1F;
    border: 2px solid #333;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    top: 4rem;
    width: 41rem;
    margin: 0 auto;
  }
  
  .info-item {
    display: inline-block;
    margin-right: 53px;
    text-align: center;
  }
  
  .info-item p {
    font-size: 20px; 
    font-weight: bold; 
    margin: 5px 0;
    color: #E65F78;
  }
  
  .info-item strong {
    font-size: 20px; 
    font-weight: bold; 
    color: #E65F78;
  }
  