.about-container {
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #333333;
    margin-bottom: 4rem;

  }
  .about-desc-wrap{
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    margin-bottom: 20px;
    text-align: justify;
    justify-content: center;
  }
  
  .about-header {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    position: relative;
    left: 5rem;
    width: 90%;
  }
  
  .about-header::after {
    content: '';
    display: block;
    width: 3%;
    height: 2px;
    background-color: #E65F78;
    position: absolute;
    bottom: -8px;
    left: 48%;
  }
  
  .about-description {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    margin-bottom: 20px;
    width: 35%;
  }
  .about-deatils-cont{
    width: 35%;
    display: flex;
  }
  .about-details {
    display: flex;
    justify-content: center;
  }
  
  .column {
    flex: 1;
  }
  
  .column p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
  }
  
  .column strong {
    font-weight: bold;
    color: #E65F78;
    margin-right: 5px;
  }

.additional-info {
    margin-top: 7rem;
    display:flex;
    align-items: center;
  }
  
  .info-box {
    background-color: #1F1F1F;
    border: 2px solid #333;
    border-radius: 5px;
    width: 90%;
    padding: 20px;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
    padding:2rem
  }
  
  .info-item {
    text-align: center;
  }

  .info-item-text{
    font-weight:400 ;
    font-size: 20px;
  }
  
  .info-item p {
    font-size: 64px; 
    font-weight: 800; 
    margin: 5px 0;
    color: #E65F78;
  }
  
  .info-item strong {
    font-size: 20px; 
    font-weight: bold; 
    color: #E65F78;
  }

  .horizontal-line{
    width:30%;
    height:2px;
    border-top: 3px solid #1F1F1F;
    border-bottom:none;
    border-left:none;
    border-right:none
}

@media screen and (max-width: 769px) {
  .about-header {
    width: 100%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .about-description {
    width: 100%;
  }

  .about-deatils-cont,
  .info-box {
    width: 100%;
    padding: 1rem;
  }

  .column p,
  .info-item-text,
  .info-item p {
    font-size: 14px;
  }

  .info-item p {
    font-size: 48px;
  }

  .horizontal-line {
    width: 20%;
  }
}
  
