.tech-stack-container {
  margin: 20px auto;
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  margin-top: 1rem;
}

.tech-stack-header {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  position: relative;
}

.csharp-icon {
  width: 6%;
}

.tech-stack-header:after {
  content: '';
  display: block;
  width: 4%;
  height: 2px;
  background-color: #e65f78;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.tech-stack-subtitle {
  font-size: 25px;
  color: white;
  margin-bottom: 20px;
}

.icon-column {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.icon-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 50px;
}

.icon-item {
  margin: 20px 10px;
  text-align: center;
}

.icon-title {
  font-size: 18px;
  color: #555;
  margin-top: 5px;
}

.jQueryIcon,
.chakraIcon,
.reduxIcon,
.tailwindIcon,
.materialUiIcon {
  width: 80px;
}

.Jesticon,
.postmanicon {
  width: 40px;
}

@media screen and (max-width: 769px) {
  .icon-column {
    flex-direction: column;
    align-items: center;
  }

  .icon-item {
    margin: 20px 0;
    width: 100%;
  }

  .tech-stack-header:after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background-color: #e65f78;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }

  .jQueryIcon,
  .chakraIcon,
  .reduxIcon,
  .tailwindIcon,
  .materialUiIcon {
    width: 30%;
  }
}