.tech-stack-container {
    margin: 20px auto;
    text-align: center; 
    background-color: #333;
  }
  
  .tech-stack-header {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .tech-stack-subtitle {
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: nowrap; 
  }
  
  .icon {
    font-size: 60px; 
  }
  
  .icon-title {
    font-size: 18px; 
    color: #555; 
    margin-top: 5px; 
  }

  .icon-column {
    display: flex;
    flex-direction: column;
  }
  
   .icon-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .icon-item {
    margin: 20px 10px;
    text-align: center; 
  }

  @keyframes moveIcons {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    12.5% {
      transform: translateX(100vw); 
      opacity: 0; 
    }
    25% {
      transform: translateX(-100vw); 
      opacity: 0;
    }
    100% {
      transform: translateX(0); 
      opacity: 1;
    }
  }
  
  .icon-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: moveIcons 20s linear infinite; 
  }

@media screen and (max-width: 769px) {
  .icon-item {
    flex-basis: calc(50% - 20px); /* Adjust the width for better responsiveness */
  }
}
  
