.tech-stack-container {
  margin: 20px auto;
  text-align: center; 
  background-color: #333;
}

.tech-stack-header {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  position: relative; 
}

.tech-stack-header:after {
content: '';
display: block;
width: 6%;
height: 2px;
background-color: #E65F78;
position: absolute;
bottom: -8px;
left: 45rem;
}


.tech-stack-subtitle {
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: nowrap; 
}

.icon {
  font-size: 60px; 
}

.icon-title {
  font-size: 18px; 
  color: #555; 
  margin-top: 5px; 
}

 .icon-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-item {
  margin: 20px 10px;
  text-align: center; 
}

.icon-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: moveIcons 20s linear infinite; 
}

@media screen and (max-width: 769px) {
  .icon-column {
    flex-direction: column;
    align-items: center;
  }

  .icon-item {
    margin: 20px 0; 
    width: 100%;
  }
  .tech-stack-header:after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background-color: #E65F78;
    position: absolute;
    bottom: -8px;
    left: 40%;
    }
}