.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: relative;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.resume-button {
  background-color: #E65F78;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.resume-button.desktop {
  margin-left: auto; 
}

.resume-button.mobile {
  display: none;
}

.resume-button:hover {
  background-color: #D1546A;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  position: absolute;
  right: 20px;
}

.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #D1546A;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  background-color: #333;
  position: absolute;
  top: 50px;
  right: 20px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  color: white;
}

.dropdown-menu a,
.dropdown-menu .resume-button {
  margin: 5px 0;
}

.dropdown-menu .resume-button.mobile {
  display: block;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }

  .dropdown-menu {
    display: flex;
  }

  .resume-button.desktop {
    display: none;
  }

  .resume-button.mobile {
    display: block;
  }
}
