.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  gap: 10px;
}

.nav-links {
  margin-left: 36rem;
}

.nav-links a {
  margin-right: 10px; 
  color: white;
  cursor: pointer;
  text-decoration: none;
  gap: 10px;
}

.resume-button {
  background-color: #E65F78;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .nav-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .resume-button {
    margin-top: 20px;
  }
}
