.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-links a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
  }
  
  .resume-button {
    background-color: #E65F78;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  