.experience-container {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  margin-top:2rem;
  justify-content: center;
  margin-top: 1rem;
}

.experience-header {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.experience-item {
  background-color: #1F1F1F; 
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 20px;
  flex-basis:30%;
  margin:1rem;
}

.experience-title {
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
  margin-bottom: 10px;
  position: relative; 
}

.experience-title:after {
  content: '';
  display: block;
  width: 55%;
  height: 2px;
  background-color: #E65F78;
  position: absolute;
  bottom: -8px;
  left: 19%;
}

.experience-company,
.experience-duration {
  font-size: 16px;
  color: #ccc; 
  margin-bottom: 10px;
}

.experience-responsibilities {
  margin-top: 10px;
  padding-left:0px
}

.experience-responsibilities li {
  font-size: 16px;
  color: #ccc; 
  margin-bottom: 5px;
  list-style:none;
}

.exp-container-wrap{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-box-title{
  color:#E65F78;
  margin-bottom: 0.5rem;
  font-size: 24px;
}

.experience-details {
  display: flex;

}

.experience-company {
margin-right:10px;
}

@media screen and (max-width: 769px) {
  .experience-item {
    flex-basis: 100%;
    margin: 1rem 0;
  }
  .experience-duration {
    font-size: 14px;
    margin-right: -2rem;
    width: 43%;
  }
  .experience-container {
    width:90%;
  }
}
